{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About Page</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam itaque eum doloremque? Enim eos ipsam aliquam commodi rem nisi quisquam culpa provident perspiciatis est, voluptates ipsa, cumque velit placeat. Eius, error excepturi eveniet, dolore doloremque voluptatibus possimus perspiciatis dolor nesciunt ipsam voluptates autem incidunt molestiae assumenda sapiente eaque voluptatum ratione?</p>
                <p>this is the about page</p>
                <p>this is the about page</p>
                <p> this came from template {{index .StringMap "test"}}</p>
                <p>
                    {{if ne (index .StringMap "remote_ip") ""}}
                        Your IP address is {{index .StringMap "remote_ip"}}
                    {{else}}
                        I dont know
                    {{end}}
                </p>
            </div>
        </div>
    </div>
{{end}}
